/**
 * Page Splitter Plugin
 * --------------------
 */

.page-splitter-pager {text-align:center}

.page-splitter-pager a.page-splitter-pager-prev,
.page-splitter-pager a.page-splitter-pager-next,
.page-splitter-pager span.page-splitter-pager-prev,
.page-splitter-pager span.page-splitter-pager-next,
.page-splitter-pager .pagination a,
.page-splitter-pager .pagination span,
.page-splitter-pager .pagination strong {
  display:inline-block;
  line-height:inherit;
  text-decoration:none;
  background-color:#808080;
  color:white;
  padding:.6em 1em;
  cursor:pointer;
}

.page-splitter-pager a.page-splitter-pager-prev,
.page-splitter-pager a.page-splitter-pager-next,
.page-splitter-pager .pagination a {background-color:#333}

.page-splitter-pager a.page-splitter-pager-prev:focus,
.page-splitter-pager a.page-splitter-pager-next:focus,
.page-splitter-pager a.page-splitter-pager-prev:hover,
.page-splitter-pager a.page-splitter-pager-next:hover,
.page-splitter-pager .pagination a:focus,
.page-splitter-pager .pagination a:hover {
  background-color:#F00;
  text-decoration:none;
}

.page-splitter-pager a.page-splitter-pager-prev:active,
.page-splitter-pager a.page-splitter-pager-next:active,
.page-splitter-pager .pagination a:active {
  background-color:#8B0000;
  text-decoration:none;
}

.page-splitter-pager span.page-splitter-pager-prev,
.page-splitter-pager span.page-splitter-pager-next,
.page-splitter-pager .pagination span,
.page-splitter-pager .pagination strong {
  cursor:default;
  cursor:not-allowed;
}

.page-splitter-pager .pagination span a {cursor:pointer}