/**
 * Page Splitter Plugin
 * --------------------
 */

.ps-pager {text-align:center}

.ps-pager a.ps-pager-prev,
.ps-pager a.ps-pager-next,
.ps-pager span.ps-pager-prev,
.ps-pager span.ps-pager-next,
.ps-pager .pagination a,
.ps-pager .pagination span,
.ps-pager .pagination strong {
  display:inline-block;
  line-height:inherit;
  text-decoration:none;
  background-color:#808080;
  color:white;
  padding:.6em 1em;
  cursor:pointer;
}

.ps-pager a.ps-pager-prev,
.ps-pager a.ps-pager-next,
.ps-pager .pagination a {background-color:#333}

.ps-pager a.ps-pager-prev:focus,
.ps-pager a.ps-pager-next:focus,
.ps-pager a.ps-pager-prev:hover,
.ps-pager a.ps-pager-next:hover,
.ps-pager .pagination a:focus,
.ps-pager .pagination a:hover {
  background-color:#F00;
  text-decoration:none;
}

.ps-pager a.ps-pager-prev:active,
.ps-pager a.ps-pager-next:active,
.ps-pager .pagination a:active {
  background-color:#8B0000;
  text-decoration:none;
}

.ps-pager span.ps-pager-prev,
.ps-pager span.ps-pager-next,
.ps-pager .pagination span,
.ps-pager .pagination strong {
  cursor:default;
  cursor:not-allowed;
}

.ps-pager .pagination span a {cursor:pointer}